.datos{
  margin-top: 25%;
}
.card-c{
  width: 100%;
  margin: 50px 0;
  text-align: center;
}
div.datos img{
  position: relative;
  width: 15px;
  height: 15px;
  margin-top: 6px;
  margin-right: 15px;
}
.continer-map{
  position: relative;
  height: auto;
  width:auto;
}


  .datos-sm{
    display: flex;
    justify-content:flex-start;
  }
