.card-h{
  width: 100%;
  margin: auto;
  border: solid;
  border-radius: 1;
  border-color: red;
  height: 200px;
}


.logo{
  width:100%;
  height: auto;
}
.contenedor-video{
  width: 100%;
}
.fixrow{
  margin: 0 !important;
}
.fixcol{
  padding: 0 !important;
}
.portada{
  width: 100%;
  max-height: 600px;
}
