.loader-page{
  position: fixed;
  background: #FFEBEE;
  right: 0;
  left:0;
  top:0;
  bottom: 0;
  z-index: 900;
  opacity: 1;
  justify-content: center;


}
.con-loader{
  position: relative;
  top:47.5%;
  left: 47.5%;
  margin: 0;
  padding: 0;
}
