:root{
  --primary:#1A237E;
}
.bar-text{
  color: #ffffff;
}

.App-header {
  height: 100%;
  margin:0;
  padding: 0;

}
.App-body{
  margin-top: 71px;

}

.App-link {
  color: #61dafb;
}
.title-nav{
    font-family: Verdana;
}
.title{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.delay{
  -webkit-animation: mymove 2s infinite;
  animation: mymove 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {opacity: 0;}
  to {opacity: 1;}
}
nav{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.1)
}
@keyframes mymove {
  from {opacity: 0;}
  to {opacity: 1;}
}
