.contenedor-img {
  position: fixed;
  background: rgb(0,0,0,0.8);
  display: flex;
  right: 0;
  left:0;
  top:0;
  bottom: 0;
  z-index: 900;
  opacity: 1;
  visibility: hidden;
  justify-content: center;
}

.img-view{
  position: relative;
  top: 20%;
  width: 100%;
  height: auto;
  visibility: hidden;


}
.img-close{
  position: absolute;
  right: 5px;
  top: 5px;
  height: 40px;
  width: 40px;
  color: #FFFFFF;
  background: rgb(0,0,0,0.6);
  border: none;
}
.btn-img{
  background: transparent;
  border: none;
}

div.gallery {
  
  display: flex;
  justify-content: center;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}



.responsive {
  padding: 10 6px;
  float: left;
  width: 30%;
}

@media only screen and (max-width: 800px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
  div.gallery {
    border: none;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
  div.gallery {
    border: none;
    display: flex;
    justify-content: center;
  }

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
