.contenedor-img {
  position: fixed;
  background: rgb(0,0,0,0.8);
  display: flex;
  right: 0;
  left:0;
  top:0;
  bottom: 0;
  z-index: 900;
  opacity: 1;
  visibility: hidden;
  justify-content: center;
}

.img-view{
  position: relative;
  top: 20%;
  width: 100%;
  height: auto;
  visibility: hidden;


}
.img-close{
  position: absolute;
  right: 5px;
  top: 5px;
  height: 40px;
  width: 40px;
  color: #FFFFFF;
  background: rgb(0,0,0,0.6);
  border: none;
}
.btn-img{
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
}

div.gallery {

  background-color: #FAFAFA;
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  border-radius: 2px;
  border: 10px solid #FAFAFA;
}

div.gallery:hover{

  box-shadow: 0 4px 8px 0 rgba(0,0,0,.1),
  0 6px 20px 0 rgba(0,0,0,.09);
  -webkit-filter:brightness(95%);
  filter: brightness(95%);
}

div.gallery img {


width: 100%;

}

.contenedor{
  position: relative;
  width: 90%;
  margin: auto;
  height: 30px;


}

.responsive {

  display: flex;
  justify-content: center;
  padding: 10px 10px;
  float: left;
  width: auto;
}

@media only screen and (max-width: 1240px) {
  .responsive {
    width: auto;
  }

  div.gallery img {
    width: 100%;
  }

}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
    margin: auto;
    float: none;
  }
  div.gallery {
    width: 300px;
    height: 300px;
    border: none;
  }

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
