.card-h{
  width: 100%;
  margin: auto;
  border: solid;
  border-radius: 1;
  border-color: red;
  height: 200px;
}


.logo{
  width:100%;
  height: auto;
}
.contenedor-video{
  width: 100%;
  height: auto;
}
