.card-h{
  width: 100%;
  margin: auto;
  border: solid;
  border-radius: 1;
  border-color: red;
  height: 200px;
}
.title{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.logo{
  width:100%;
  height: auto;
}
.contenedor-video{
  width: auto;
  height: 100%;
}
